.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  align-items: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  z-index: 1;
  bottom: 60px;
  left: 0;
  width: calc(100% - 130px);
  background-color: var(--mantine-color-default);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  transform-origin: bottom right;

  &.show {
    /* animation: slideIn 0.3s ease-in-out forwards; */
    transform: scale(100%);
  }
}

.formDescription {
  min-height: 100px;
}

.toggleButton {
  position: absolute;
  bottom: 60px;
  right: 60px;
  border-radius: 50%;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;

  @mixin larger-than 768px {
    max-width: 700px;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.notification {
  position: absolute;
  right: 0;
  top: -80px;
  min-width: 100%;
  max-width: 100px;
}
